{% extends "layoutNav.njk" %}

{% block head %}
    <title>Adopción</title>
    <link rel="stylesheet" href="/stylesheets/adopcion.css">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi Perfil</a>
    </li>

    {% if user.isAdmin == true %}
    <li class="nav-item">
        <a class="nav-link" style="color: #FF0000" href="/incidencias">Incidencias</a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>


{% endblock %}

{% block content %}
    {% if user.username != "guest" %}
        <a class="btn btn-outline-dark" href="/adopt_form">Poner un gato en adopción</a>
    {% endif %}

    {% if adopciones|length < 1 %}
        <h3>No hay gatos en adopción en estos momentos.</h3>
    {% else %}
        {% for adopcion in adopciones %}
            <div class="container">
                <div class="adopcion">
                    <img class="photo" src="{{ adopcion.photo }}" alt="Sample photo">
                    <div class="adopcion-body">
                        <h3 class="adopcion-heading">{{ adopcion.name }}</h3>
                        <div class="adopcion-description">
                            <br><b>Edad:</b> {{ adopcion.age }}
                            <br><b>Sexo:</b> {{ adopcion.sex }}
                            <br><b>Esterilizado:</b> {{ adopcion.neutered }}
                            <br><b>Raza:</b> {{ adopcion.breed }}
                            <br><b>Peso:</b> {{ adopcion.weight }}
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    {% endif %}


{% endblock %}

    {% block footer %} {% endblock %}