{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Formulario de Adopción</title>
    <link rel="stylesheet" href="/stylesheets/adopt_form.css">

{% endblock %}

{% block header %}
    <div class="registrarse-header">
        <h2 class="h2-title" style="text-align:center"> ¡Le encontramos un hogar a tu gato! </h2>
    </div>

{% endblock %}


{% block content %}


    <div class="container">
        <div class="signup">
            <img id="adopt-photo" src="/img/cat-form.png" alt="Sample photo">
            <p class="photo-desc"> Haz click en la imagen para adjuntar una foto del gato. </p>
            <div class="signup-form">
                <form class="adoptform" method="POST" action="/adopt_form" id="adopt_form" encType="multipart/form-data">

                    <label for="name">Nombre:</label>
                    <input name="name" type="text" placeholder="Introduce el nombre de tu gato" maxlength="15" class="form-control" id="name" required="required"/><br />

                    <label for="sex">Sexo:</label>
                    <select name="sex" id="sex" class="form-control selectpicker" required="required">
                        <option value="">Selecciona el sexo</option>
                        <option>Hembra</option>
                        <option>Macho</option>
                        <option value="Desconocido" selected>Desconocido</option>
                    </select><br />


                    <label for="breed">Raza:</label>
                    <select name="breed" id="breed" class="form-control selectpicker" required="required">
                        <option value="">Escoge una raza</option>
                        <option>Bengalí</option>
                        <option>British Shorthair</option>
                        <option>Bosque de Noruega</option>
                        <option>Común europeo</option>
                        <option>Curl Americano</option>
                        <option>Esfinge</option>
                        <option>Himalayo</option>
                        <option>Maine Coon</option>
                        <option>Munchkin</option>
                        <option value="Persa" selected>Persa</option>
                        <option>Ragamuffin</option>
                        <option>Ragdoll</option>
                        <option>Siamés</option>
                        <option>Siberiano</option>
                        <option>Desconocido/No Listado</option>
                    </select> <br />

                    <label for="age">Edad:</label>
                    <input name="age" type="text" placeholder="Ejemplo: 5 meses, 3 años..." class="form-control" id="age" required="required"/><br />

                    <label for="neutered">¿Esterilizado?</label>
                    <select name="neutered" id="neutered" class="form-control selectpicker" required="required">
                        <option value="">Indica si el gato ha sido esterilizado</option>
                        <option>Sí</option>
                        <option>No</option>
                        <option value="Desconocido" selected>Desconocido</option>
                    </select> <br />

                    <label for="weight">Peso:</label>
                    <select name="weight" id="weight" class="form-control selectpicker" required="required">
                        <option value="">Selecciona el paso aproximado</option>
                        <option>0-3kg</option>
                        <option>3-6kg</option>
                        <option>+6kg</option>
                        <option value="Desconocido" selected>Desconocido</option>
                    </select> <br /><br />

                    <input type="file" name="fotogato" id="upload" required="required">

                    <br />

                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <a class="btn btn-primary" href="/adopcion">Volver</a>


                    <br />

                </form>
            </div>
        </div>
    </div>

    <h2 class="h2-blank"> </h2>

{% endblock %}
{% block footer %}

    <script type="text/javascript">

        $("#adopt-photo").click(function(e) {
            $("#upload").click();
        });

    </script>
{% endblock %}