{% extends "layoutNav.njk" %}

{% block head %}
    <title>Adopción</title>
    <link rel="stylesheet" href="/stylesheets/adopcion.css">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block content %}


    {% if adopciones|length < 1 %}
        <h3>No hay gatos en adopción en estos momentos.</h3>
    {% else %}
        {% for adopcion in adopciones %}
            <div class="container">
                <div class="adopcion">
                    <img class="photo" src="{{ adopcion.photo }}" alt="Sample photo">
                    <div class="adopcion-body">
                        <h3 class="adopcion-heading">{{ adopcion.name }}</h3>
                        <div class="adopcion-description">
                            <br>Edad: {{ adopcion.age }}
                            <br>Sexo: {{ adopcion.sex }}
                            <br>Esterilizado: {{ adopcion.neutered }}
                            <br>Raza: {{ adopcion.breed }}
                            <br>Color del pelaje: {{ adopcion.fur }}
                            <br>Color de ojos: {{ adopcion.eyes }}
                            <br>Detalles: {{ adopcion.description }}

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}


    {% endif %}


{% endblock %}

    {% block footer %} {% endblock %}