{% extends "layoutNav.njk" %}

{% block head %}
    <title>Consejos</title>
    <link rel="stylesheet" href="/stylesheets/consejo_detailed.css">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block content %}

    <div class="container">
        <h3 class="profile-title">{{ consejo.title }}</h3>
        <img class="photo" src="{{ consejo.photo }}" alt="Sample photo">
        <div class="info">{{ consejo.article }}
            <a class="btn btn-primary" href="/consejos">Volver</a>
        </div>
    </div>

{% endblock %}