{% extends "layoutNav.njk" %}

{% block head %}
    <title>Consejos</title>
    <link rel="stylesheet" href="/stylesheets/consejos.css">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/perfil">Mi Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block content %}


    {% if consejos|length < 1 %}
        <h3>No hay consejos en estos momentos.</h3>
    {% else %}
        {% for consejo in consejos %}
            <p>{{ consejo.title }}</p>

        {% endfor %}


    {% endif %}


{% endblock %}

{% block footer %} {% endblock %}