{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Publicar un consejo</title>
    <link rel="stylesheet" href="/stylesheets/consejo_form.css">

{% endblock %}

{% block header %}
    <div class="registrarse-header">
        <h2 class="h2-title" style="text-align:center"> Publicar un consejo </h2>
    </div>

{% endblock %}


{% block content %}


    <div class="container">
        <div class="signup">
            <img id="catsitting-photo" src="/img/consejo-form.png" alt="Sample photo">
            <p class="photo-desc"> Haz click en la imagen para añadir la foto del consejo.</p>
            <div class="signup-form">
                <form class="catsittingform" method="POST" action="/consejo_form" id="catsitting_form" encType="multipart/form-data">

                    <label for="title">Título:</label>
                    <input name="title" type="text" placeholder="Introduce el título" class="form-control" id="name" required="required"/><br />

                    <label for="description">descripcion del consejo:</label>
                    <input name="description" type="text" placeholder="contenido" class="form-control" id="description" required="required"/><br />

                    <label for="contenido">contenido del consejo</label>
                    <input type="text" name="contenido" id="place" class="form-control" required="required"/>

                    <input type="file" name="fotoconsejo" id="upload" required="required" onchange="update(event)">

                    <br />

                    <input type="submit" class="btn btn-primary" value="Enviar">
                    <a class="btn btn-primary" href="/consejos">Volver</a>


                    <br />

                </form>
            </div>
        </div>
    </div>

    <h2 class="h2-blank"> </h2>

{% endblock %}
{% block footer %}

    <script type="text/javascript">

        $("#catsitting-photo").click(function(e) {
            $("#upload").click();
        });

    </script>

    <script type="text/javascript">

        var update = function(event) {

            var output = document.getElementById('catsitting-photo');
            output.src = URL.createObjectURL(event.target.files[0]);
        }

    </script>
{% endblock %}