{% extends "layoutNav.njk" %}

{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
{% endblock %}

{% block nav %}
    <li class="nav-item active">
        <a class="nav-link" href="#">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" style="color: #FF0000" href="/incidencias">Incidencias</a>
    </li>

{% endblock %}

{% block header %}
    <div id="dash-header">
        <h1> Bienvenido a Cat-Attack, {{ user.firstName }} </h1>
    </div>
{% endblock %}

{% block content %}
    <div id="img-container">
        <img class="img-item" src="/img/foto_dashboard1.jpg">
        <img class="img-item" src="/img/foto_dashboard2.jpg">
    </div>
{% endblock %}

{% block footer %} {% endblock %}