{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Envío de incidencia</title>
    <link rel="stylesheet" href="/stylesheets/enviar_incidencia.css">

{% endblock %}

{% block header %}
    <div class="registrarse-header">
        <h2 class="h2-title" style="text-align:center"> Formulario de envío de incidencia </h2>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="incidencia">

            <h2 class="h2-title"> ¿Estás seguro de que deseas reportar esta publicación? </h2>

            <div class="incidencia-form">

                <form id="incidenciaform" method="POST" action="/enviar_incidencia">

                    <b class="datalabel"> Denunciante: {{ user.username }} </b>
                    </br>
                    <label class="datalabel" for="target"><b>Nombre del gato/catsitter denunciado:</b></label>
                    <input name="target" id="target" type="text" required="required">
                    </br>
                    <label class="datalabel" for="type"><b>Tipo de anuncio reportado:</b></label>
                    <select name="type" id="type" required="required">
                        <option value="Adopción"">Adopción</option>
                        <option value="Catsitter">Catsitter</option>
                    </select>

                    </br>

                    <b class="textarealabel"> A continuación, escriba la descripción de la incidencia: </b> </br>

                    </br>

                    <textarea name="desc" id="desc" required='required' rows="5" cols="150"></textarea>

                    </br>

                    <input type="button" class="btn btn-primary" value="Volver" onclick="history.back()">
                    <input type="submit" class="btn btn btn-danger" value="Enviar incidencia">


                </form>
            </div>
        </div>
    </div>

    <h2 class="h2-blank"> </h2>

{% endblock %}

{% block footer %}
{% endblock %}