{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Envío de incidencia</title>
    <link rel="stylesheet" href="/stylesheets/enviar_incidencia.css">

{% endblock %}

{% block header %}
    <div class="registrarse-header">
        <h2 class="h2-title" style="text-align:center"> Formulario de envío de incidencia </h2>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        <div class="incidencia">

            <h2 class="h2-title"> ¿Estás seguro de que deseas reportar esta publicación? </h2>

            <div class="incidencia-form">

                <form id="incidenciaform" method="POST" action="/enviar_incidencia">

                    <b class="datalabel"> Denunciante: </b> </br>
                    <b class="datalabel"> Post denunciado: </b> </br>

                    </br>

                    <b class="textarealabel"> A continuación, escriba la descripción de la incidencia: </b> </br>

                    </br>

                    <textarea required='required' rows="5" cols="150"></textarea>

                    </br>

                    <input type="button" class="btn btn-primary" value="Volver atrás" onclick="history.back()">
                    <input type="submit" class="btn btn btn-danger" value="Enviar incidencia">


                </form>
            </div>
        </div>
    </div>

    <h2 class="h2-blank"> </h2>

{% endblock %}

{% block footer %}
    <script type='text/javascript'>
        function check(input) {
            if (input.value != document.getElementById('password').value) {
                input.setCustomValidity('Password Must be Matching.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>

    <script type="text/javascript">

        $("#profile-pic").click(function(e) {
            $("#upload").click();
        });

    </script>
{% endblock %}