{% extends "layoutNav.njk" %}

{% block head %}
    <title>Incidencias</title>
    <link rel="stylesheet" href="/stylesheets/incidencias.css">
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/miperfil">Mi Perfil</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
    </li>

    {% if user.isAdmin == true %}
    <li class="nav-item">
        <a class="nav-link" style="color: #FF0000" href="#">Incidencias</a>
    </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>



{% endblock %}

{% block content %}


    {% if incidencias|length < 1 %}
        <h3>No hay incidencias en estos momentos.</h3>
    {% else %}
        {% for incidencia in incidencias %}

            <div class="container">

                <div class="incidencias">
                    <div class="incidencia-body">
                        <h4 class="incidencia-heading">{{ incidencia.name }}</h4>

                        <div class="incidencia-description">
                            <br><b>Denuncia enviada por:</b> {{ incidencia.issuer }}
                            <br><b>Tipo de denuncia:</b> {{ incidencia.type }}
                            <br><b>Publicación denunciada:</b> {{ incidencia.target }}
                            <br><b>Descripción:</b> {{ incidencia.desc }}
                        </div>

                    </div>
                </div>
            </div>

        {% endfor %}


    {% endif %}
{% endblock %}