{% extends "layout.njk" %}
{% block head %}
    <title>Cat-Attack!</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
{% endblock %}

{% block header %}
    <div id="login-title">
        <h1>Cat-Attack</h1>
    </div>

    {% if signinMessage  %}
    <div><h5>{{ signinMessage }}</h5></div>
    {% endif %}

{% endblock %}

{% block content %}

<div id="login-form">
    <form id="formulario" method="POST" action="/">
        <div class="form-group">
            <label for="username">Nombre de Usuario*:</label>
            <input type="text" name="username" id="username" required="required" class="form-control">  <br/>
        </div>

        <div class="form-group">
            <label for="password">Contraseña* (requiere nº, minus, mayus, y mínimo de 6 caracteres):</label>
            <input type="password" name="password" id="password" required="required"  class="form-control"/><br/>
            <!-- Para filtrar la contraseña poner en el input de password pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" -->
        </div>
        <p> * | Campos obligatorios </p> <br/>

        <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
        <br>
        <br>
        <a href="/">Se me olvidó la contraseña</a>
        <br>
        <br>
        <!--<input type="submit" value="      Crear  Usuario      " class="btn btn-primary">-->
        <!--<input type="submit" value="Entrar Como Invitado" class="btn btn-primary">-->

    </form>
    <a class="btn btn-primary" href="/registrarse">Registrarse</a>
    <a class="btn btn-primary" href="/invitado">Invitado</a>

</div>
{% endblock %}
{% block footer %} {% endblock %}
