{% extends "layoutNav.njk" %}

{% block head %}
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/stylesheets/miperfil.css">
{% endblock %}

{% block nav %}

    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mi Perfil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block header %} {% endblock %}

{% block content %}

    <div class="container">
        <h2 class="title">Mi Perfil</h2>
        <img class="profile-pic" src="/img/{{ user.username }}.jpg">
        <div class="profile-description">
            <p>{{ user.description }}</p>
        </div>
    </div>
    <div class="buttons">
        <a class="btn btn-primary" href="#">Solicitud para catsitter</a>
        <a class="btn btn-primary" href="#">Modificar perfil</a>
    </div>

{% endblock %}

{% block footer %} {% endblock %}