{% extends "layoutNav.njk" %}

{% block head %}
    <title>Mi Perfil</title>
    <link rel="stylesheet" href="/stylesheets/miperfil.css">
{% endblock %}

{% block nav %}

    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Inicio<span class="sr-only"></span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/adopcion">Adopción</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/consejos">Consejos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catsitting">Cat-Sitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mi Perfil</a>
    </li>

    {% if user.username != "guest" %}
        <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
        </li>
    {% endif %}

    {% if user.isAdmin == true %}
        <li class="nav-item">
            <a class="nav-link" style="color: #FF0000" href="/incidencias">Incidencias</a>
        </li>
    {% endif %}

    <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
    </li>

{% endblock %}

{% block header %} {% endblock %}

{% block content %}

    <div class="container">

        <div class="profile">
            <div class="profile-title"><h2>Mi Perfil</h2></div>
            <div class="profile-photo"> <img style="max-height: 235px; max-width: 215px" src="/img/{{ user.username }}.jpg"> </div>
            <div class="profile-info">
                <p class="info-item">Username: {{ user.username }}</p>
                <p class="info-item">Email: {{ user.email }}</p>
                <p class="info-item">Nombre: {{ user.firstName }}</p>
                <p class="info-item">Apellidos: {{ user.lastName1 }} {{ user.lastName2 }}</p>
            </div>
            <div class="profile-desc"><p>{{ user.description }}</p></div>
        </div>
    </div>
    {% if user.username != "guest" %}
        <div class="buttons">
            <a class="btn btn-primary" href="/perfil_form_foto">Cambiar foto de perfil</a>
            <a class="btn btn-primary" href="/perfil_form_password">Cambiar contraseña</a>
        </div>
    {% endif %}


{% endblock %}

{% block footer %} {% endblock %}