{% extends "layout.njk" %}


{% block head %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registro Cat-Attack</title>
    <link rel="stylesheet" href="/stylesheets/registrarse.css">

{% endblock %}

{% block header %}
  <div class="registrarse-header">
    <h2 class="h2-title"> Formulario de Registro en Cat-Attack </h2>
  </div>

{% endblock %}


{% block content %}


<div class="container">
  <div class="signup">
    <img id="profile-pic" src="/img/gatomaleta.jpg" alt="Sample photo">
    <p class="photo-desc"> Haz click en la imagen para cambiar tu foto de perfil. </p>
    <div class="signup-form">
      <form id="registro" method="POST" action="/registrarse" encType="multipart/form-data">

        <label for="firstName">Nombre:</label>
        <input name="firstName" type="text"  class="form-control" id="firstName" required="required"/><br />

        <label for="lastName1">Apellido 1:</label>
        <input name="lastName1" type="text"  class="form-control" id="lastName1" required="required"/><br />

        <label for="lastName2">Apellido 2:</label>
        <input name="lastName2" type="text"  class="form-control" id="lastName2" required="required"/><br />

        <label for="userName">Nombre de usuario:</label>
        <input name="userName" type="text"  class="form-control" id="userName" required="required"/><br />

        <label for="email">Email:</label>
        <input name="email" type="email"  class="form-control" id="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/><br />
        <!--
        <label for="dni">DNI*:</label>
        <input name="dni" type="text"  class="form-control" id="dni" required="required"/><br />

        <label for="telefono">Teléfono*:</label>
        <input name="phone" type="tel"  class="form-control" id="telefono" required="required" pattern="^\d{9}$"/><br />
        -->
        <label for="password">Contraseña (requiere nº, minus, mayus, y mínimo de 8 caracteres):</label>
        <input name="password" type="password"  class="form-control" id="password" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br />

        <label for="passwordConfirmation">Confirmar contraseña:</label>
        <input name="passwordConfirmation" type="password"  class="form-control" id="passwordConfirmation" oninput="check(this)" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/><br/>

        <input type="file" name="profilepic" id="upload" required="required" onchange="update(event)">

        <br />

        <input type="button" class="btn btn-danger" onclick="location.href='/'"  value="Cancelar">
        <input type="submit" class="btn btn-success" value="Registrarse">


        <br />

      </form>
    </div>
  </div>
</div>


{% endblock %}
{% block footer %}
  <script type='text/javascript'>
    function check(input) {
      if (input.value != document.getElementById('password').value) {
        input.setCustomValidity('Password Must be Matching.');
      } else {
        // input is valid -- reset the error message
        input.setCustomValidity('');
      }
    }
  </script>

  <script type="text/javascript">

    $("#profile-pic").click(function(e) {
      $("#upload").click();
    });

  </script>

  <script type="text/javascript">

    var update = function(event) {

      var output = document.getElementById('profile-pic');
      output.src = URL.createObjectURL(event.target.files[0]);
      }

  </script>
{% endblock %}